.container {
  display: flex;
  flex-direction: column;
}

.addBtn {
  align-self: flex-end;
  margin-top: -54px;
}

mat-card {
  margin: 5px 0 5px 0;
  max-width: 400px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

