<main class="container" >
  <div class="addBtn">
    <a routerLink="/add">
  <button mat-flat-button color="accent"
          (click)="onAddBtnClick()">Add assignment
  </button>
    </a>
  </div>

  <mat-list *ngFor="let assignment of assignments">
    <nav><a routerLink="/assignment/{{assignment.id}}">
    <h3 mat-subheader>{{assignment.dueDate | date}}</h3>
    <mat-list-item (click)="setSelected(assignment)">
      <p matLine appSubmitted *ngIf="assignment.submitted; else unsubmitted">
        You're {{assignment.name}} assignment has been submitted!</p>

      <ng-template matLine #unsubmitted>
        You're {{assignment.name}} assignment hasn't been submitted!
      </ng-template>

      <mat-divider></mat-divider>
    </mat-list-item>
    </a></nav>
  </mat-list>
</main>

<!--<app-add-assignment (newAssignment)="onNewAssignment($event)"-->
                    <!--*ngIf="formVisible"></app-add-assignment>-->

<!--<app-assignment-detail [passedAssignment]="selectedAssignment"></app-assignment-detail>-->
